.section3-container{
    width: 100%;
    height: 75%;
    display: flex;
}
.section3-container__photos {
    flex: 0.7;
    background: url(./../../../img/Rectangle9.png) no-repeat center ;
    background-size: cover;
}
.collection-2018-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 0.8;
}
.collection-2018-containe__heading{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 300%;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-2018-containe__heading::after{
    content: "";
    width: 50%;
    height: 1%;
    border-top: 1px solid rgb(255, 255, 255);
}
.collection-2018-containe__text{
    text-align: center;
    max-width: 55%;
    color: rgb(255, 255, 255);
    overflow:auto ;
   margin: 10px 0px;
}
.collection-2018-containe__nav-container{
    border: 1px solid #ffffff;
    padding: 1% 2.5% 1% 2.5%;
}
.collection-2018-containe__nav-container:hover{
 background-color: #ffffff42;
}
.collection-2018-containe__nav-link{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 23px;
    color: #ffffff;
}
@media(max-width:768px){
    .section3-container__photos{
        display: none;
    }
    .collection-2018-container{
        flex: 1;
        height: auto;
    }
}