body{
  margin: 0;
  padding: 0;
  
}
::-webkit-scrollbar { 
  width: 0px;  
  background: transparent;  
}

.App {
  width: 100vw;
  height: auto;
  background-color: black;
  overflow: auto;
  color: aliceblue;


}
